body {
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: black;

}

#carta {
    margin-top: 100px;
    width: 50%; /* Ajusta según lo necesites */
    max-width: 1200px; /* Para limitar el ancho en pantallas grandes */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
}




#im{
margin-left: 0%;


width: 100%;
}

.encabezado{
    display: flex;
 margin-left: 10px;
 margin-right: 10px;

}

.encabezado h4{
    margin-left: 5px;
    margin-top: 0;
}

.encabezado p{
    margin-left: -55px;
    margin-top: 20px;
}

.encabezado svg{
 margin-left: auto;

}


.iconos{
display: flex;
margin-left: 5px;
margin-top: 10px;

}
.iconos div{
margin-left: auto;
margin-right: 10px;
}

.pie{
margin-left: 10px;
margin-right: 10px;

}