html, body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
}

.encabezado {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}

.contenedor {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    background-color: #e9e9e9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.fotos {
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    overflow: hidden;
}

.encabezado-foto {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
}

.titulo {
    font-weight: bold;
    font-size: 16px;
}

.fecha-foto {
    font-size: 14px;
    color: #777777;
}

.imagen {
    width: 100%;
    height: auto;
}

.descripcion {
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    font-size: 14px;
    color: #454545;
}
